.conten article img{
	    width: 100%;
}
iframe{
	width: 100%;
	height: 250px;
}
.footContactLogoUNAD{
	    text-align: center;
    margin-top: 2%;
}
.footContactFull{
	background-color: black;
	color:#FFF;
	font-size: 11px;
	  font-family: 'Open Sans', sans-serif;
}
.footContactTextEN{
	text-align: left;
}
#copyrightUNAD{
	text-align: center;
}
p{
	width: 100%;
}
.footContactLogoCalidad {
	width: 100%;
}
.footContactLogoCalidad  a{
	margin-left: 5px;
}
.Certificados{
	text-align: center;
}
.row{
	margin: 0 !important;
}
header figure img {
    margin-top: 15px;
    width: 315px;
}
header
div.header {
    margin: 0 auto;
    max-width: 1060px;
}
header figure {
    background: #FFF;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 350px;
}

figure {
    display: block;
}
user agent stylesheet
figure {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}
header p {
	font-weight: bold;
    font-size: 50px;
    font-family:'Open Sans',  cursive;
    text-align: center;
}
.nav {
    margin: 0.5em;
    border-radius: 1em;
    padding: 0.5em;
    background: rgb(0, 70, 105);
    font-family: arial;
    font-size: 0.8267em;
    text-size-adjust: 100%;
    height: 50px;
    padding-left: 15%;

}
nav ul {
    list-style: none;
    margin: 0px auto;
    padding: 0.7em 1.6em;
}

nav ul li {
    display: inline;
    left: 15em;
    position: relative;
    padding: 0.4em 1.6em;
    margin: 0px 0.4em;
    list-style: none;
    border-radius: 1.5em;

}

.nav ul li a {
    font-weight: bold;
    color: rgb(255,255,255);
    text-decoration: none;
   /* padding: 0.5em 1.25em;*/
    margin: 0;
    border-radius: 0.5em;
    -webkit-border-radius: 1.6em;
    -ms-border-radius: 1.em;
    -o-border-radius: 1.6em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

article
	 {
	margin: 0.3em;
	background-color: 
	border: 0.01em solid rgba(200,40,20,0.5);
	border-radius: 0em;
	padding: 0.5em;
	float: left;
	width: 67%;
	display: table;

	
	}

	section {
	margin: 0.5em;
	background-color: rgb(255,255,255);
	
	border-radius: 0em;
	padding: 0.5em;
	display: table;
	width: 98%;

	
	
	}
Section #accordion,section #datepicker,section #tabs{
		         font: 95% "Trebuchet MS"; sans-serif;
				 margin: 1.5em 1em;
				 }
	
	span {
	margin: 0.5em;
	background-color: rgb(232,232,232);
	border: 0.2em solid rgb(128,128,128);
	border-radius: 1em;
	padding: 0.5em;
	display: table;
	width: 95%;

	
	
	}


cuadroultimo{
	margin: 0.3em;
	background-color: rgb(232,232,232);
	border: 0.01em solid rgba(200,40,20,0.5);
	border-radius: 1em;
	padding: 0.5em;
	float: right;
	width: 25%;
}
	table {
	border: 1px solid #0000ff;
	background-color: rgba(45,155,14,0.2);
	border-radius: 0.5em;
	padding:0.2em;
	}

	td {
	background-color: rgba(200,155,214,0.3);
	border-radius: 0.5em;
	text-align: center;
	padding: 0.2em;
	}

	td a {
	color: rgba(40,0,200,0.8);
	text-decoration: none;
	}

	td a:hover {
	color: rgba(200,200,0,0.8);
	}

	th img {
	border-radius: 0.5em;
	margin: 0.2em;
	}

	td img {
	width: 10%;
	border-radius: 0.5em;
	margin: 0.2em;
	}

	
cuadrodos{
	margin: 0.3em;
	background-color: rgb(232,232,232);
	border: 0.01em solid rgba(200,40,20,0.5);
	border-radius: 1em;
	padding: 0.5em;
	float: right;
	width: 28%;
}
	table {
	border: 1px solid #0000ff;
	background-color: rgba(45,155,14,0.2);
	border-radius: 0.5em;
	padding:0.2em;
	}

	td {
	background-color: rgba(200,155,214,0.3);
	border-radius: 0.5em;
	text-align: center;
	padding: 0.2em;
	}

	td a {
	color: rgba(40,0,200,0.8);
	text-decoration: none;
	}

	td a:hover {
	color: rgba(200,200,0,0.8);
	}

	th img {
	border-radius: 0.5em;
	margin: 0.2em;
	}

	td img {
	width: 90%;
	border-radius: 0.5em;
	margin: 0.2em;
	}
	cuadrotres{
	margin: 0.3em;
	background-color: rgb(232,232,232);
	border: 0.01em solid rgba(200,40,20,0.5);
	border-radius: 1em;
	padding: 0.5em;
	float: right;
	width: 28%;
}
	table {
	border: 1px solid #0000ff;
	background-color: rgba(45,155,14,0.2);
	border-radius: 0.5em;
	padding:0.2em;
	}

	td {
	background-color: rgba(200,155,214,0.3);
	border-radius: 0.5em;
	text-align: center;
	padding: 0.2em;
	}

	td a {
	color: rgba(40,0,200,0.8);
	text-decoration: none;
	}

	td a:hover {
	color: rgba(200,200,0,0.8);
	}

	th img {
	border-radius: 0.5em;
	margin: 0.2em;
	}

	td img {
	width: 90%;
	border-radius: 0.5em;
	margin: 0.2em;
	}

	aside{
	margin: 0.3em;
	background-color: rgb(232,232,232);
	border: 0.01em solid rgba(200,40,20,0.5);
	border-radius: 1em;
	padding: 0.5em;
	float: right;
	width: 30%;
}
	table {
	border: 1px solid #0000ff;
	background-color: rgba(45,155,14,0.2);
	border-radius: 0.5em;
	padding:0.2em;
	}

	td {
	background-color: rgba(200,155,214,0.3);
	border-radius: 0.5em;
	text-align: center;
	padding: 0.2em;
	}

	td a {
	color: rgba(40,0,200,0.8);
	text-decoration: none;
	}

	td a:hover {
	color: rgba(200,200,0,0.8);
	}

	th img {
	border-radius: 0.5em;
	margin: 0.2em;
	}

	td img {
	width: 90%;
	border-radius: 0.5em;
	margin: 0.2em;
	}
slices {
	margin: 0.5em;
	background-color: rgb(232,232,232);
	border: 0.2em solid rgb(128,128,128);
	border-radius: 1em;
	padding: 0.5em;
	display: table;
	width: 95%;
	}
	
	
footer .footContactFull{
	 border-radius: 1.5em;
	 padding: 2px;
}
div .Certificados {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    float: none;
    text-align: center;
    overflow: hidden;
    padding: 8px 0;
    width: auto;
}
article,h2 {
	 font-family: 'Open Sans', sans-serif;
	 margin:5px;
	 text-align: justify;
}
iframe .timeline-Body {
    height: 400px;
    }